<!DOCTYPE html>
<html>
  <head>
    <title>light sequence playback server</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
    
    <section id="main">
      <h1>This is the light sequence playback server</h1>
      <p>When all of the boxes below are green (except for UDP clock, which doesn't have to be green for manual playback), press this button to test out the lights:</p>
      <button id="play">Play Manually</button>
    </section>
    
    <section
      id="udp_clock" class=<%= udp_clock ? "ok" : "not_ok" %>>
      <% if (udp_clock){ %>
        <h2 class="ok">UDP clock address and port: <span><%= udp_clock %></span></h2>
      <% } else { %>
        <h2 class="not_ok">UDP clock address not set</h2>
      <% } %>
      <p>Unless Daisuke says otherwise, use 224.0.0.2 and 12345.</p>
      <p>The UDP clock is Daisuke's thing that keeps the lights in sync with the video. The server will need to be restarted for any changes to take effect.</p>
      <button>Enter a new IP address or hostname and port</button>
    </section>
    
    <section id="hue_bridge" class=<%= address ? "ok" : "not_ok" %>>
      <% if (address){ %>
        <h2 class="ok">Hue Bridge address: <span><%= address %></span></h2>
      <% } else { %>
        <h2 class="not_ok">Hue Bridge address not set</h2>
      <% } %>
      <p>The Hue Bridge is the white thing that plugs into the wired network and looks like a little smoke detector.</p>
      <button>Enter a new IP address or hostname</button>
    </section>
    
    <section id="user" class=<%= user ? "ok" : "not_ok" %>>
      <% if (user){ %>
        <h2 class="ok">User ID: <span><%= user %></span></h2>
      <% } else { %>
        <h2 class="not_ok">No user account set</h2>
      <% } %>
      <p>The Hue Bridge may blink while setting this up. If it does, press the blue button on it.</p>
      <p>You can also just tell me what user ID you'd like to use. (A user id is 10-32 characters of alphanumeric gibberish, not a name.)</p>
      <button id="create">Create and save new user</button>
      <button id="tell">Let me just tell you what user ID to use</button>
    </section>
    
    <section id="bulbs" class=<%= lights ? "ok" : "not_ok" %>>
      <% if (lights){ %>
        <h2 class="ok">Bulbs:</h2>
        <p><%= JSON.stringify(lights.lights) %></p>
      <% } else { %>
        <h2 class="not_ok">No bulbs discovered</h2>
      <% } %>
      <p>Bulbs need to be discovered. The discovery happens somewhat slowly, and you may need to run it a few times before all of the bulbs have been found. If there are stragglers, try slowly power cycling the bulbs a few times.
      </p>
      <button>Discover bulbs</button>
    </section>
    
    
    <section id="sequence"class=<%= sequence ? "ok" : "not_ok" %>>
      <% if (sequence){ %>
        <h2 class="ok">Sequence: <span>loaded</span></h2>
      <% } else { %>
        <h2 class="not_ok">No sequence loaded</h2>
      <% } %>
      <p>Upload a <%= sequence ? "new" : "" %> .zeitlight file from the <a href="https://ftkwi.org">editor</a>.</p>
      <form method="post" action="/sequence" enctype="multipart/form-data">
        <input type="file" name="sequence"/>
        <input type="submit" value="Upload"/>
      </form>
    </section>
    
    <section id="process">
      <h2>Process Management</h2>
      <p>For testing process management stuff, use these buttons:</p>
      <button id="crash">Crash the server</button>
      <button id="shutdown">Shut the server down gracefully</button>
    </section>
    
    <script src="jquery.js"></script>
    <script src="superagent.js"></script>
    <script src="script.js"></script>
  </body>
</html>