html {
  background: #BBB;
}

body {
  margin: 1em;
}

section{
  position: relative;
  width: 500px;
  background: white;
  border: 1px solid black;
  padding: 1em;
  margin: 1em 0;
}

section.ok { background: #AFA; }
section.not_ok { background: #FAA; }

section.not_ok .ok { display: none }
section.ok .not_ok { display: none }

h1, h2 {
  margin: 0 auto 0.5em;
}

h2 {
  font-weight: normal;
}

h2 span {
  font-weight: bold;
}